<ul id="lists">
  <% @lists.each_with_index do |list, ind| %>
    <li class=<%="complete" if all_complete?(list) && list[:todos].size > 0%>>
      <h2><a href="/lists/<%= ind %>"><%= list[:name] %></a></a></h2><p><%= list[:todos].count {|todo| todo[:completed] } %>/<%= list[:todos].size %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
<a href="/lists/new" class="add">New List</a>
<%end%>